  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta http-equiv="Content-Language" content="fr" /> 
      <title>Prediction of BJJ technics</title>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://d3js.org/d3.v3.min.js"></script>
	  <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
	<form action="/" method="get" enctype=multipart/form-data>
      <h3> Prediction: {{ pred }} </h3>
      <br><br>
      <img src="static/image/{{imgpath}}">
	  
	  <br><br>
	  <input type="submit" value="Correct" class="send-feedback-true">
      <input type="submit" value="Incorrect" class="send-feedback-false">
	<script  src="/static/index.js"></script>
	</form>
    </body>
  </html>
